@keyframes pan {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-pan {
  animation: pan 20s linear infinite;
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.glow-text {
  text-shadow: 0 0 5px #00ffff88, 0 0 10px #00ffff88;
}
